@import "./normalize.css";
@import "./variables.css";

/**** base ****/

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  content-visibility: auto;
  line-height: 1.15;
}

html,
body {
  font-family: var(--ff-body);
  line-height: 135%;
  font-size: 1em;
}

@layer framework, reset, layout, base, component;

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  ul,
  li {
    list-style-type: none;
  }

  button {
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
  }

  input {
    height: min(var(--input-height), 30px);
  }
}

@layer layout {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px var(--padding);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
  }

  /* header.scrolling {
		box-shadow: 3px 3px 5px var(--shadow-color);
		position: fixed;
		width: 100%;
	} */

  main {
    margin-inline: auto;
    padding-top: 1px;
    padding-bottom: 70px;
  }

  section {
    text-align: center;
    padding-block-start: 3vw;
  }

  footer {
    /* color: rgba(255, 255, 255, 0.9); */
    text-align: center;
    font-size: 0.9rem;
    padding-block: 1em;
  }

  .content-container {
    width: min(1028px, 100%);
    margin-inline: auto;
    padding-inline: 3vw;
  }

  .content-container.large {
    width: min(1280px, 100%);
  }

  .content-container.xlarge {
    width: min(1920px, 100%);
  }

  .content-container.small {
    width: min(900px, 100%);
  }
}

@layer utitilies {
  .text-center {
    text-align: center;
  }

  .light {
    color: var(--text-light);
  }

  .flex {
    display: flex;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .mt-20 {
    margin-top: 20px;
  }
  .mb-20 {
    margin-bottom: 20px;
  }

  .big {
    font-size: 1.45rem;
  }

  .grid {
    display: grid;
    gap: 3vw;
    text-align: left;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .grid-item {
    display: flex;
    flex-direction: column;
  }
}

html,
body {
  font-family: var(--ff-body);
  line-height: 135%;
  font-size: 1em;
}

body {
  position: relative;
  background-color: var(--bg-dark);
  max-height: 100vh;
  overflow-y: auto;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

button,
.btn {
  font-family: var(--ff-subheader);
  text-transform: uppercase;
  letter-spacing: 0.025em;
  font-size: 0.75rem;
  padding: 10px 20px;
  cursor: pointer;
  width: max-content;
  white-space: nowrap;
}

.btn-round {
  border-radius: 100vh;
}

.btn-small {
  padding: 5px 20px;
  font-size: 0.8em;
}

.btn-light {
  background: none;
  color: var(--border-color-darkbg);
  border: 1px solid var(--border-color-darkbg);
}

.btn-light-darkbg {
  background: none;
  color: var(--clr-accent-secondary);
  border: 1px solid var(--clr-accent-secondary);
}

.btn-large {
  padding: 15px 60px;
  font-size: 1em;
  letter-spacing: 0.25em;
  font-weight: 500;
  line-height: 110%;
}

.btn-register {
  margin-top: 2vw;
}

.btn-primary {
  background-color: #ff4040;
  color: var(--text-light);
  text-transform: uppercase;
}

.btn-primary.blue {
  background-color: var(--clr-accent-secondary);
}

.btn-secondary {
  background-color: var(--bg-lightest);
  color: var(--text-dark);
  box-shadow: 3px 3px 6px var(--shadow-color);
}

.text-white {
  color: white;
}

a,
a:visited {
  color: var(--text-dark);
  text-decoration: none;
}

h1 {
  font-size: clamp(3.5rem, calc(10vw + 0.5rem), 6.5rem);
  font-family: var(--ff-hero-header);
  font-weight: 600;
  text-transform: uppercase;
  line-height: 100%;
  color: var(--clr-accent-primary);
  letter-spacing: 0.75vw;
  margin-bottom: 1vw;
  margin-top: 0;
  text-shadow: 3px 3px 6px rgba(255, 255, 255, 0.8),
    -3px -3px 6px rgba(255, 255, 255, 0.8);
}

h2 {
  font-size: clamp(1.25rem, calc(4vw + 0.5rem), 1.5rem);
  font-family: var(--ff-hero-header);
  color: white;
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: 0;
  text-align: left;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-subheader);
  line-height: 1.1em;
}

.landing-section-title {
  text-transform: uppercase;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 3vw;
  font-weight: 600;
  letter-spacing: 0.5vw;
  color: var(--clr-accent-primary);
}

h3 {
  font-size: clamp(1.5rem, calc(1vw + 0.5rem), 1.75rem);
  margin: 0;
  font-weight: 600;
  letter-spacing: 0.125em;
  margin-bottom: 10px;
}

h3.tight {
  letter-spacing: 0.025em;
}

h4 {
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 10px;
}

h5 {
  font-size: 1rem;
  font-weight: 500;
  margin-block: 10px 5px;
}

.tab-container {
  display: flex;
  align-items: baseline;
  gap: 40px;
  border-bottom: 1px solid #111;
  box-shadow: 0 1px 0 0 #074788;
  padding-bottom: 10px;
  margin-bottom: 15px;
  letter-spacing: 0.045em;

  margin-top: 120px;

  color: var(--text-label);
  font-family: var(--ff-subheader);
  font-size: 1.2rem;
  text-transform: uppercase;
}

.error-msg {
  text-align: left;
}

.tab {
  position: relative;
  cursor: pointer;
}

.tab:hover,
.tab:focus {
  color: var(--clr-accent-secondary);
}

.tab::after {
  content: "";
  display: inline-block;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: transparent;
  left: 0;
  bottom: -10px;
}

.tab.active {
  color: var(--clr-accent-secondary);
  font-weight: 600;
}

.tab.active::after {
  background-color: var(--clr-accent-secondary);
}

.contact-deck {
  font-size: 1.85rem;
  margin-bottom: 25px;
  font-weight: bold;
  text-align: center;
}

.contact-deck .description {
  font-size: 1.25rem;
  font-weight: 400;
  opacity: 0.85;
}

header > * {
  width: max-content;
}

::placeholder {
  color: var(--text-muted);
  font-size: 1em;
}

.logo {
  width: clamp(4.5rem, calc(9vw + 1rem), 8rem);
  height: auto;
  flex-basis: 130px;
}

.mobile-menu {
  line-height: 1.6em;
  font-weight: 400;
  text-align: right;
  position: relative;
}
.mobile-menu ul {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  width: 100%;
  position: absolute;
}

/*Create a horizontal list with spacing*/
.mobile-menu li {
  display: inline-block;
}

/*Style for menu links*/
.mobile-menu li a {
  white-space: nowrap;
  display: block;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
}

.mobile-menu li:hover ul a {
  color: #2f3036;
}

.mobile-menu li ul {
  display: none;
}

/*Make dropdown links vertical*/
.mobile-menu li ul {
  display: block;
  float: none;
}

/*Style 'show menu' label button and hide it by default*/
.mobile-menu .show-menu {
  text-decoration: none;
  color: #fff;
  text-align: center;
  display: none;
  cursor: pointer;
  text-transform: uppercase;
}

.mobile-menu .show-menu span {
  padding-left: 25px;
}

/*Hide checkbox*/
.mobile-menu input[type="checkbox"] {
  display: none;
}

/*Show menu when invisible checkbox is checked*/
.mobile-menu input[type="checkbox"]:checked ~ #menu {
  display: block;
}

nav {
  margin-left: auto;
}

nav ul {
  font-family: var(--ff-nav);
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.045em;
}

nav ul a,
nav ul a:visited {
  color: var(--text-light);
}

nav ul .signin a,
nav ul .signin a:visited {
  color: var(--clr-accent-secondary);
}

.top {
  position: fixed;
  display: inline-block;
  text-transform: uppercase;
  font-family: var(--ff-body);
  font-size: 3.5rem;
  font-weight: 300;
  bottom: 50px;
  right: 50px;
  z-index: 9999;
  width: clamp(65px, 3.5vw + 40px, 75px);
  aspect-ratio: 1 / 1;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15),
    -3px -3px 3px rgba(0, 0, 0, 0.075);
  border-radius: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top a,
.top a:visited {
  color: var(--clr-accent-primary);
}

.top:hover,
.top:focus {
  background-color: rgba(white, 0.9);
}

.button-container {
  justify-self: self-end;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2vmax;
  gap: 20px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
}

.logo,
nav li {
  margin-inline-end: var(--gap);
}

@media only screen and (max-width: 567px) {
  .button-container {
    flex-direction: column-reverse;
  }

  .button-container .btn {
    width: 100%;
  }
}

@media only screen and (max-width: 639px) {
  .landing-section-title {
    margin-bottom: 5vw;
  }
}

@media only screen and (max-width: 959px) {
  header {
    align-items: flex-start;
  }

  .logo {
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 9;
  }

  .logo,
  nav li {
    margin: 0;
  }

  .mobile-menu ul {
    position: static;
    display: none;
  }

  .mobile-menu li {
    margin-bottom: 1px;
  }

  .mobile-menu ul li,
  .mobile-menu li a {
    width: 100%;
    text-align: right;
  }

  .mobile-menu .show-menu {
    display: inline-block;
  }
}

@media only screen and (min-width: 960px) {
  .mobile-menu ul {
    position: static;
  }
}
